<main class="row padding-20">
  
  <div class="col-sm-12 background-grey padding-20" ng-controller="propertyStepTwoController">
    <div class="horizontal-form">
      <form class="form-horizontal" role="form">
        
        <div class="form-group">
          <label class="col-sm-4 control-label no-padding-right">Precio </label>
          <div class="col-sm-7">
            <div class="input-group">
              <span class="input-group-addon">$</span>              
              <input id="txtPrecioPropiedad" ng-model="precioPropiedad" ng-keyup="setPrecioPropiedad();" type="text" class="form-control">
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-sm-4 control-label no-padding-right">Total Comisión</label>
          <div class="col-sm-7">
            <div class="input-group">
              <input class="form-control" ng-model="totalComision" ng-keyup="setTotalComision()" type="text"/>
              <span class="input-group-addon">%</span>
            </div>
          </div>
          
        </div>
        
        <div class="form-group">
          <label class="col-sm-4 control-label no-padding-right">Compartida </label>
          <div class="col-sm-4">
            <div class="input-group">
              <input class="form-control" ng-model="comisionCompartida" ng-keyup="setComisionCompartida()" type="text"/>
              <span class="input-group-addon">%</span>
            </div>
          </div>
          <div class="col-sm-4">
            <p>1% al 100% del Total de Comisi&oacute;n</p>
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-sm-4 control-label no-padding-right">T&iacute;tulo propiedad </label>
          <div class="col-sm-7">
            <input id="txtShortAddress" ng-model="direccionCorta" ng-keyup="setDireccionCorta();" type="text" placeholder="Titulo para la propiedad" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4 control-label no-padding-right">Direccion propiedad</label>
          <div class="col-sm-7">
            <input id="txtFullAddress" ng-model="direccion" ng-keyup="setDireccion();" type="text" placeholder="Direccion Residenca" class="form-control">            
          </div>
        </div>
        
      </form>      
    </div>
  </div>
</main>