<main class="property">
  <div class="property__new">
    <form>
      <div class="property__field">
        <label class="property__label">Ambientes </label>
        <div class="property__input">
          <div class="property__small"><i class="fa fa-bed"></i>
            <input type="text">
          </div>
          <div class="property__small"><img src="img/toilet.svg" width="16">
            <input type="text">
          </div>
          <div class="property__small"><i class="fa fa-car"></i>
            <input type="text">
          </div>
        </div>
      </div>
      <div class="property__field">
        <label class="property__label">Terreno y construcción </label>
        <div class="property__input">
          <input type="text" placeholder="Varas cuadradas" class="property__input-text">
          <input type="text" placeholder="Metros cuadrados" class="property__input-text">
        </div>
      </div>
    </form>
  </div>
</main>