<main class="property">
  
  <div class="property__new">
    <div class="horizontal-form">
      <form class="form-horizontal" role="form">
        
        <div class="form-group">
          <label class="col-sm-4 control-label no-padding-right">Precio </label>
          <div class="col-sm-7">
            <div class="input-group">
              <span class="input-group-addon">$</span>              
              <input ng-model="precioPropiedad" type="text" class="form-control">
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-sm-4 control-label no-padding-right">Total Comisión</label>
          <div class="col-sm-7">
            <div class="property__range col-sm-9">
              <input ng-model="totalComision" type="range" min="0" max="5" value="{{totalComision}}" >
            </div>
            <span class="col-sm-2" id="range1">{{totalComision}}%</span>
            <script>
              function outputUpdate1(vol) {
                document.querySelector('#range1').innerText = vol + "%";
              }
            </script>
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-sm-4 control-label no-padding-right">Compartida </label>
          <div class="col-sm-7">
            <div class="property__range col-sm-9">
              <input ng-model="comisionCompartida" type="range" min="0" max="100" value="{{comisionCompartida}}">
            </div>
            <span class="col-sm-2" id="range2">{{comisionCompartida}}%</span>
            <script>
              function outputUpdate2(vol) {
                document.querySelector('#range2').innerText = vol + "%";
              }
            </script>
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-sm-4 control-label no-padding-right">Direcci&oacute;n corta </label>
          <div class="col-sm-7">
            <input ng-model="direccionCorta" type="text" placeholder="Direccion de referencia" class="property__input-text">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4 control-label no-padding-right">Direccion </label>
          <div class="col-sm-7">
            <input ng-model="direccion" type="text" placeholder="Direccion completa" class="property__input-text">            
          </div>
        </div>
        
      </form>
      <button ng-click="showInfo();">show info</button>
    </div>
  </div>
</main>