<section class="property">
  <div class="property__new">
    <form>
      <div class="property__field">
        <label class="property__label">Tipo de propiedades</label>
        <div data-toggle="buttons" class="property__btns">
          <label class="btn btn-default" ng-repeat="tipo in tiposInmueble" ng-click="setTipoInmueble(tipo.id);">
            <input  type="radio" name="tipoInmueble"  
                   ng-model="$parent.descripcion" value="{{tipo.id}}"> {{tipo.descripcion}}
          </label>
        </div>
      </div>
      <div class="property__field">
        <label class="property__label">Que quieres hacer?</label>
        <div data-toggle="buttons" class="property__btns">
          <label class="btn btn-default" ng-repeat="operacion in operacionesInmueble" ng-click="setOperacionInmueble(operacion.id);">
            <input  type="radio" name="operacionInmueble"  
                   ng-model="$parent.descripcion" value="{{operacion.id}}"> {{operacion.descripcion}}
          </label>          
        </div>
      </div>
      <div class="property__field">
        <label class="property__label">Ciudad </label>
        <div class="property__input">
          <input type="text" class="property__input">
        </div>
      </div>
    </form>
  </div>
</section>