<main class="property">
  <div class="property__preview">
    <div class="property__preview-img"><img src="img/new_property.jpg"></div>
    <div class="property__preview-body">
      <div class="property__preview-heading">
        <h3 class="pull-left property__preview-title">12 calle Z.10</h3>
        <div class="pull-right">
          <div class="property__preview-commission">5%<br>Total Comisión</div>
          <div class="property__preview-commission">50%<br>Compartida</div>
        </div>
      </div>
      <div class="property__preview-content">
        <div class="property__preview-item">$400,000</div>
        <div class="property__preview-item"><span>2<i class="fa fa-bed"></i></span><span>2<img src="img/toilet.svg" height="12"></span><span>2<i class="fa fa-car"></i></span></div>
        <div class="property__preview-item">1,500 mt2</div>
        <div class="property__preview-item">2,800 V2</div>
      </div>
      <div class="property__preview-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget.</div>
    </div>
  </div>
</main>