<main class="property">
  <div class="property__new">
    <form>
      <div class="property__field">
        <label class="property__label">Tipo de propiedad</label>
        <div data-toggle="buttons" class="property__btns">
          <label class="btn btn-default">
            <input type="radio" name="options" autocomplete="off" checked="">Casa 
          </label>
          <label class="btn btn-default">
            <input type="radio" name="options" autocomplete="off" checked="">Apartamento 
          </label>
        </div>
      </div>
      <div class="property__field">
        <label class="property__label">Que quieres hacer?</label>
        <div data-toggle="buttons" class="property__btns">
          <label class="btn btn-default">
            <input type="radio" name="options" autocomplete="off" checked="">Alquiler 
          </label>
          <label class="btn btn-default">
            <input type="radio" name="options" autocomplete="off" checked="">Venta
          </label>
        </div>
      </div>
      <div class="property__field">
        <label class="property__label">Ciudad </label>
        <div class="property__input">
          <input type="text" class="property__input">
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="property__preview">
    <div class="property__preview-img"></div>
    <div class="property__preview-body">
      <div class="property__preview-heading"></div>
      <div class="property__preview-content">
        <div class="property__preview-item"></div>
        <div class="property__preview-item"></div>
        <div class="property__preview-item"></div>
        <div class="property__preview-item"></div>
      </div>
      <div class="property__preview-desc"></div>
    </div>
  </div> -->
</main>