<section class="row padding-20">
  <div class="col-sm-12 background-grey padding-20" ng-controller="propertyStepOneController">
    <div class="horizontal-form" >
      <form class="form-horizontal" role="form">
        
        <div class="form-group">
          <label class="col-sm-4 control-label no-padding-right">Tipo de propiedad</label>
          <div class="col-sm-7">
            <!-- Combo de Tipo de Propiedades -->
            <select ng-model="tiposInmueble[$index]" name="cmbTipoInmueble"
                class="col-sm-12" ng-change="setTipoInmueble(tiposInmueble[$index]);"
                id="cmbTipoInmueble" ng-options="tipo.id as tipo.descripcion for tipo in tiposInmueble">
                <option value="">Tipos de propiedad</option>
            </select>

          </div>
        </div>
        
        <div class="form-group">
          <label class="col-sm-4 control-label no-padding-right">Que quieres hacer?</label>
          <div class="col-sm-7">
            <!-- Combo de Operaciones sobre Inmuebles -->
            <select ng-model="operacionesInmueble[$index]" name="cmbOpearcion"
                class="col-sm-12" ng-change="setOperacionInmueble(operacionesInmueble[$index]);"
                id="cmbOpearcion" ng-options="operacion.id as operacion.descripcion for operacion in operacionesInmueble">
                <option value="">Operacion sobre el Inmueble</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4 control-label no-padding-right">Pa&iacute;s</label>
          <div class="col-sm-7">
            <select ng-model="paises[$index]" name="cmbPais" ng-change="getDepartamentos(paises[$index]);"
                    class="col-sm-12"
                    id="cmbPais" ng-options="pais.id as pais.descripcion for pais in paises">
                <option value="">Seleccione...</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4 control-label no-padding-right">Departamento </label>
          <div class="col-sm-7">
            <select ng-model="departamentos[$index]" name="cmbDepartamento" 
                    ng-change="getMunicipios(departamentos[$index]);" class="col-sm-12"
                    id="cmbDepartamento" ng-options="depto.id as depto.descripcion for depto in departamentos">
                <option value="">Seleccione...</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4 control-label no-padding-right">Municipio </label>
          <div class="col-sm-7">
            <select ng-model="municipios[$index]" name="cmbMunicipio" 
                    ng-change="setMunicipio(municipios[$index]); "
                    class="col-sm-12"
                    id="cmbMunicipio" ng-options="municipio.id as municipio.descripcion for municipio in municipios">
                <option value="">Seleccione...</option>
            </select>
          </div>
        </div> 

      </form>
    </div>
  </div>
  
</section>