<main class="property">
  <div class="property__new">
    <form>
      <div class="property__btns property__fw">
        <label for="file" class="btn btn-default btn-lg"> <i class="glyphicon glyphicon-cloud-upload"></i>Agregar fotos
          <input id="file" type="file">
        </label>
      </div>
      <div class="property__field">
        <label class="property__label centered">Descripción </label>
        <textarea placeholder="Escribe tu descripción..." class="property__input"></textarea>
      </div>
    </form>
  </div>
</main>