<div ng-controller="userController">
        <!-- Page Sidebar Header-->
    <div class="sidebar-header-wrapper">
        <input type="text" class="searchinput" />
        <i class="searchicon fa fa-search"></i>
        <div class="searchhelper">Search Reports, Charts, Emails or Notifications</div>
    </div>
    <!-- /Page Sidebar Header -->
    <!-- Sidebar Menu -->
    <ul class="nav sidebar-menu">
        <!--Dashboard-->
        <li ui-sref-active="active">
            <a ui-sref="app.dashboard">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text"> Dashboard </span>
            </a>
        </li>

        <li ui-sref-active="active">
            <a ui-sref="app.propiedades">
                <i class="menu-icon fa fa-th-list"></i>
                <span class="menu-text"> Propiedades </span>
            </a>
        </li>

        <li ui-sref-active="active" ng-show="tipoUsuario == 'Agencia'">
            <a ui-sref="app.agentes">
                <i class="menu-icon fa fa-users"></i>
                <span class="menu-text"> Agentes </span>
            </a>
        </li>

        <li ui-sref-active="active">
            <a ui-sref="app.clientes">
                <i class="menu-icon fa fa-users"></i>
                <span class="menu-text"> Clientes </span>
            </a>
        </li>

        <li ui-sref-active="active">
            <a ui-sref="app.tareas">
                <i class="menu-icon fa fa-tasks"></i>
                <span class="menu-text"> Tareas </span>
            </a>
        </li>    
    </ul>
</div>
