<main id="clients" class="clients__bg">
	<div class="clients">
		<div class="clients__sidebar"><a href="#" class="clients__btn btn-primary white">Agregar Cliente</a>
		  <div class="clients__search cols">
		    <div class="clients__search-form">
		      <input type="search" placeholder="Buscar...">
		      <input type="submit">
		    </div>
		    <ul>
		      <li>
		        <div class="clients__search-label">A</div><a href="#">Andres Fernandez</a><a href="#">Alejandro Martinez</a><a href="#">Adda Perez</a>
		      </li>
		      <li>
		        <div class="clients__search-label">B</div><a href="#">Byron Sagastume</a>
		      </li>
		      <li>
		        <div class="clients__search-label">F</div><a href="#">Felipe Ramones</a>
		      </li>
		      <li>
		        <div class="clients__search-label">M</div><a href="#">Mynor Jimenez</a>
		      </li>
		      <li>
		        <div class="clients__search-label">O</div><a href="#">Ovidio Morales </a>
		      </li>
		      <li>
		        <div class="clients__search-label">Z</div><a href="#">Ziomara Ovando </a>
		      </li>
		    </ul>
		  </div>
		</div>
		<div class="clients__content">
			<tabset flat="true" justified="true">
				<tab heading="Datos Personales">
					<div id="tab1" role="tabpanel" class="clients__container cols active tab-pane">
						<div class="clients__info">
							<h2>Andrés Fernandez</h2>
							<ul>
							  <li><strong>Celular:</strong>58675938</li>
							  <li><strong>Tipo:</strong>Comprador</li>
							  <li><strong>Teléfono:</strong>N/A </li>
							  <li><strong>Estado:</strong>Interesado </li>
							  <li><strong>Dirección:</strong>N/A </li>
							  <li><strong>Última Acción:</strong>Correo - 23/07/2015</li>
							  <li><strong>Ciudad:</strong>Guatemala, Guatemala </li>
							  <li><strong>Vendedor Asignado:</strong>Francisco Reyes </li>
							  <li><strong>Correo electrónico:</strong>andres.fernandez@gmail.com</li>
							</ul>
						</div>
						<div class="clients__notes">
							<div class="clients__notes-form"><span>
							    <input type="text" placeholder="Escribe una nota..."></span>
							  <input type="submit">
							</div>
							<ul class="clients__notes-wrap">
							  <li class="clients__note"><img src="img/avatar.jpg" class="clients__note-avatar">
							    <div class="clients__note-content">
							      <p class="clients__note-author">Francisco Reyes</p>
							      <p class="clients__note-date">Fecha de la nota</p>
							      <p class="clients__note-body">Nota de la reunion...</p>
							    </div>
							  </li>
							  <li class="clients__note"><img src="img/avatar.jpg" class="clients__note-avatar">
							    <div class="clients__note-content">
							      <p class="clients__note-author">Francisco Reyes</p>
							      <p class="clients__note-date">Fecha de la nota</p>
							      <p class="clients__note-body">Nota de la reunion...</p>
							    </div>
							  </li>
							  <li class="clients__note"><img src="img/avatar.jpg" class="clients__note-avatar">
							    <div class="clients__note-content">
							      <p class="clients__note-author">Francisco Reyes</p>
							      <p class="clients__note-date">Fecha de la nota</p>
							      <p class="clients__note-body">Nota de la reunion...</p>
							    </div>
							  </li>
							</ul>
						</div>
					</div>
				</tab>
				<tab heading="Propiedades">
					<div id="tab2" role="tabpanel" class="clients__container tab-pane">
						<div class="clients__listings"><a href="#" class="btn btn-sky">Agregar propiedad</a>
						<div class="clients__item"><img src="img/listing.jpg">
						  <div class="clients__item-content">
						    <h4><a href="#">Apartamento Z.14</a></h4>
						    <ul>
						      <li>12 calle 6-27 z.14</li>
						      <li>2 Habitaciones </li>
						      <li>2 Baños</li>
						      <li>2 Parqueos</li>
						    </ul>
						    <ul class="clients__item-actions">
						      <li>
						        <div class="checkbox">
						          <label>
						            <input type="checkbox" checked="checked"><span class="text">Información Enviada</span>
						          </label>
						        </div>
						      </li>
						      <li>
						        <div class="checkbox">
						          <label>
						            <input type="checkbox" checked="checked"><span class="text">Propiedad Mostrada </span>
						          </label>
						        </div>
						      </li>
						      <li>
						        <div class="checkbox">
						          <label>
						            <input type="checkbox" checked="checked"><span class="text">Oferta Enviada</span>
						          </label>
						        </div>
						      </li>
						    </ul>
						  </div>
						</div>
						<div class="clients__item"><img src="img/listing.jpg">
						  <div class="clients__item-content">
						    <h4><a href="#">Apartamento Z.14</a></h4>
						    <ul>
						      <li>12 calle 6-27 z.14</li>
						      <li>2 Habitaciones </li>
						      <li>2 Baños</li>
						      <li>2 Parqueos</li>
						    </ul>
						    <ul class="clients__item-actions">
						      <li>
						        <div class="checkbox">
						          <label>
						            <input type="checkbox" checked="checked"><span class="text">Información Enviada</span>
						          </label>
						        </div>
						      </li>
						      <li>
						        <div class="checkbox">
						          <label>
						            <input type="checkbox" checked="checked"><span class="text">Propiedad Mostrada </span>
						          </label>
						        </div>
						      </li>
						      <li>
						        <div class="checkbox">
						          <label>
						            <input type="checkbox" checked="checked"><span class="text">Oferta Enviada</span>
						          </label>
						        </div>
						      </li>
						    </ul>
						  </div>
						</div>
						<div class="clients__item"><img src="img/listing.jpg">
						  <div class="clients__item-content">
						    <h4><a href="#">Apartamento Z.14</a></h4>
						    <ul>
						      <li>12 calle 6-27 z.14</li>
						      <li>2 Habitaciones </li>
						      <li>2 Baños</li>
						      <li>2 Parqueos</li>
						    </ul>
						    <ul class="clients__item-actions">
						      <li>
						        <div class="checkbox">
						          <label>
						            <input type="checkbox" checked="checked"><span class="text">Información Enviada</span>
						          </label>
						        </div>
						      </li>
						      <li>
						        <div class="checkbox">
						          <label>
						            <input type="checkbox" checked="checked"><span class="text">Propiedad Mostrada </span>
						          </label>
						        </div>
						      </li>
						      <li>
						        <div class="checkbox">
						          <label>
						            <input type="checkbox" checked="checked"><span class="text">Oferta Enviada</span>
						          </label>
						        </div>
						      </li>
						    </ul>
						  </div>
						</div>
						</div>
						<div class="clients__listings-suggested">
						<h3>Propiedades sugeridas</h3>
						<div class="clients__item"><img src="img/listing.jpg">
						  <div class="clients__item-content">
						    <h4><a href="#">Apartamento Z.14</a></h4>
						    <ul>
						      <li>12 calle 6-27 z.14</li>
						      <li>2 Habitaciones </li>
						      <li>2 Baños</li>
						      <li>2 Parqueos</li>
						    </ul><a href="#" class="btn">Agregar propiedad</a>
						  </div>
						</div>
						<div class="clients__item"><img src="img/listing.jpg">
						  <div class="clients__item-content">
						    <h4><a href="#">Apartamento Z.14</a></h4>
						    <ul>
						      <li>12 calle 6-27 z.14</li>
						      <li>2 Habitaciones </li>
						      <li>2 Baños</li>
						      <li>2 Parqueos</li>
						    </ul><a href="#" class="btn">Agregar propiedad</a>
						  </div>
						</div>
						<div class="clients__item"><img src="img/listing.jpg">
						  <div class="clients__item-content">
						    <h4><a href="#">Apartamento Z.14</a></h4>
						    <ul>
						      <li>12 calle 6-27 z.14</li>
						      <li>2 Habitaciones </li>
						      <li>2 Baños</li>
						      <li>2 Parqueos</li>
						    </ul><a href="#" class="btn">Agregar propiedad</a>
						  </div>
						</div>
						</div>
						</div>
				</tab>

				<tab heading="Acciones">
					<div id="tab3" role="tabpanel" class="clients__container tab-pane">
						<div class="clients__email">
						<h3 class="clients__notes-title">Correos</h3><img src="img/mail-placeholder.jpg">
						</div>
						<div class="clients__notes">
						<h3 class="clients__notes-title">Llamadas</h3>
						<div class="clients__notes-form"><span>
						    <input type="text" placeholder="Escribe una nota..."></span>
						  <input type="submit">
						</div>
						<ul class="clients__notes-wrap">
						  <li class="clients__note">
						    <div class="clients__note-content">
						      <p class="clients__note-author">Francisco Reyes</p>
						      <p class="clients__note-date">Fecha de la nota</p>
						      <p class="clients__note-body">Nota de la llamada...</p>
						    </div>
						  </li>
						  <li class="clients__note">
						    <div class="clients__note-content">
						      <p class="clients__note-author">Francisco Reyes</p>
						      <p class="clients__note-date">Fecha de la nota</p>
						      <p class="clients__note-body">Nota de la llamada...</p>
						    </div>
						  </li>
						</ul>
						<h3 class="clients__notes-title">Citas</h3>
						<div class="clients__notes-form"><span>
						    <input type="text" placeholder="Escribe una nota..."></span>
						  <input type="submit">
						</div>
						<ul class="clients__notes-wrap">
						  <li class="clients__note">
						    <div class="clients__note-content">
						      <p class="clients__note-author">Francisco Reyes</p>
						      <p class="clients__note-date">Fecha de la nota</p>
						      <p class="clients__note-body">Nota de la reunión...</p>
						    </div>
						  </li>
						  <li class="clients__note">
						    <div class="clients__note-content">
						      <p class="clients__note-author">Francisco Reyes</p>
						      <p class="clients__note-date">Fecha de la nota</p>
						      <p class="clients__note-body">Nota de la reunión...</p>
						    </div>
						  </li>
						</ul>
						</div>
					</div>
				</tab>

				<tab heading="Estados">
					<div id="tab4" role="tabpanel" class="clients__container tab-pane">
						<table>
						<thead>
						  <tr>
						    <th>Primer <br>Contacto</th>
						    <th>Información <br>Enviada </th>
						    <th>Visitando <br>propiedades </th>
						    <th>Oferta <br>enviada </th>
						    <th>Negociación <br>Exitosa </th>
						  </tr>
						</thead>
						<tbody>
						  <tr class="empty">
						    <td data-title="Primer Contacto" class="ui-widget-header">
						      <div class="clients__card">Andres Fernandez</div>
						    </td>
						    <td data-title="Información Enviada" class="ui-widget-header">&nbsp; </td>
						    <td data-title="Visitando propiedades" class="ui-widget-header">&nbsp; </td>
						    <td data-title="Oferta enviada" class="ui-widget-header">&nbsp; </td>
						    <td data-title="Negociación Exitosa" class="ui-widget-header">&nbsp; </td>
						  </tr>
						</tbody>
						</table>
					</div>
				</tab>
			</tabset>

		</div>
	</div>
</main>