<!-- Panel de Estdisticas -->
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="databox bg-white radius-bordered">
					<div class="databox-left bg-palegreen">
						<i class="fa fa-users white" style="font-size:40px"></i>
					</div>
					<div class="databox-right">
						 <span class="databox-number green">{{totalAgentes}}</span>
						 <div class="databox-text darkgray">Agentes</div>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="databox bg-white radius-bordered">
					<div class="databox-left bg-blue">
						<i class="fa fa-home white" style="font-size:45px"></i> 
					</div>
					<div class="databox-right">
						 <span class="databox-number sky">{{totalPropiedades}}</span>
						 <div class="databox-text darkgray">Propiedades</div>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="databox bg-white radius-bordered">
					<div class="databox-left bg-maroon">
						<i class="fa fa-users white" style="font-size:40px"></i>
					</div>
					<div class="databox-right">
						 <span class="databox-number maroon">{{totalBuscadores}}</span>
						 <div class="databox-text darkgray">Clientes</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Panel de estadisticas -->

<!-- Panel de propieades mas visitadas top 10 -->
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="row">
			<div class="col-xs-12">
				<div class="dashboard-box">
					<div class="box-header">
						<div class="deadline">
							Propiedades m&aacute;s visitadas (top 10)
						</div>
					</div>
					<div class="box-tabbs">
						<tabset flat="true" justified="true">
							<tab>
								<div class="row">
									
									<div class="col-lg-6 col-sm-6 col-xs-12" ng-repeat="inmueble in topInmuebles">
						                <div class="databox databox-xlg radius-bordered databox-shadowed">
						                    <div class="databox-left bg-white no-padding"
						                    	style="background-image: url('assets/img/listing.jpg'); background-size:cover; background-position: center">
						                    </div>
						                    <div class="databox-right bordered-thick bordered-sky">
						                        
						                        <div class="databox-row row-3 bordered-bottom bordered-platinum padding-10">
						                            <div class="databox-cell cell-12 no-padding">
						                                <span class="databox-title darkgray">
						                                	<strong> {{inmueble.direccionCorta}}</strong>
						                                </span>
						                            </div>
						                        </div>

						                        <div class="databox-row row-4 bordered-bottom bordered-platinum">
						                            <span class="databox-text darkgray padding-10">
					                                	<i>{{inmueble.direccion}}</i>
					                                </span>
						                        </div>

						                        <div class="databox-row row-2 bordered-bottom bordered-platinum">
						                        	<span class="databox-text darkgray padding-10">
						                            	<strong>Fecha de creaci&oacute;n:</strong>
						                            	{{inmueble.createdAt | date: "dd/MM/yyyy"}}
						                            </span>
						                        </div>

						                        <div class="databox-row row-3">
						                            <span class="databox-text darkgray padding-10">
						                            	<strong>N&uacute;mero de visitas</strong>
							                            <div class="databox-stat bg-blue ">
							                                <div class="stat-text">{{inmueble.numeroVisitas}}</div>
							                                <i class="stat-icon fa fa-link"></i>
							                            </div>
						                            </span>
						                        </div>
						                    </div>
						                </div>
						            </div>

								</div>
							</tab>
						</tabset>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>