<div class="content">
  <div class="panel">
    <div class="panel__header">
      <div class="panel__form">
        <input type="text">
        <input type="submit" value="Buscar">
      </div>
      <h1 class="panel__title">Tu listado de propiedades</h1>
      <div class="panel__btns">
        <a ui-sref="app.nuevaPropiedad">
          <span>Agregar propiedad </span><i class="fa fa-plus-circle"></i>
        </a>
      </div>
    </div>
    <div class="panel__content">
      <div class="listings__item"><span class="ribbon sale">Venta</span><img src="img/listing.jpg">
        <div class="listings__item-content sale">
          <h2><a href="#">Apartamento z.14</a></h2>
          <p><strong>Ciudad de Guatemala, Guatemala</strong>12 calle 6-27 z.14 <br>Código No. 03024</p>
        </div>
        <div class="listings__item-price">
          <p><strong>$400,000</strong>50%<br>Compartida</p>
        </div><a href="#" class="btn btn-green btn-big">Editar tu propiedad</a><a href="#" class="remove"><i class="glyphicon glyphicon-remove"></i></a>
        <div class="listings__item-details">
          <ul role="tablist" class="tablist">
            <li class="active"><a href="#home-1" data-toggle="tab" role="tab">Analisis</a></li>
            <li><a href="#profile-1" data-toggle="tab" role="tab">Ver agenda</a></li>
          </ul>
          <div class="tab-content tabcontent">
            <div id="home-1" class="tab-pane active fade in">
              <ul role="tablist" class="tabpills">
                <li class="active"><a href="#data1-1" data-toggle="tab" role="tab"><i class="fa fa-home"> </i> # de visitas</a></li>
                <li><a href="#data2-1" data-toggle="tab" role="tab"><i class="fa fa-envelope-o"></i> # de mensajes</a></li>
              </ul>
              <div class="tab-content tabpill">
                <div id="data1-1" class="tab-pane active fade in"><img src="img/graph1.png"></div>
                <div id="data2-1" class="tab-pane fade"><img src="img/graph2.png"></div>
              </div>
            </div>
            <div id="profile-1" class="tab-pane fade">
              <div class="calendar"></div>
            </div>
          </div>
        </div><i class="arrow"></i>
      </div>
      <div class="listings__item"><span class="ribbon rent">Alquiler</span><img src="img/listing.jpg">
        <div class="listings__item-content rent">
          <h2><a href="#">Apartamento z.14</a></h2>
          <p><strong>Ciudad de Guatemala, Guatemala</strong>12 calle 6-27 z.14 <br>Código No. 03024</p>
        </div>
        <div class="listings__item-price">
          <p><strong>$400,000</strong>50%<br>Compartida</p>
        </div><a href="#" class="btn btn-green btn-big">Editar tu propiedad</a><a href="#" class="remove"><i class="glyphicon glyphicon-remove"></i></a>
        <div class="listings__item-details">
          <ul role="tablist" class="tablist">
            <li class="active"><a href="#home-s1" data-toggle="tab" role="tab">Analisis</a></li>
            <li><a href="#profile-s1" data-toggle="tab" role="tab">Ver agenda</a></li>
          </ul>
          <div class="tab-content tabcontent">
            <div id="home-s1" class="tab-pane active fade in">
              <ul role="tablist" class="tabpills">
                <li class="active"><a href="#data1-s1" data-toggle="tab" role="tab"><i class="fa fa-home"> </i> # de visitas</a></li>
                <li><a href="#data2-s1" data-toggle="tab" role="tab"><i class="fa fa-envelope-o"></i> # de mensajes</a></li>
              </ul>
              <div class="tab-content tabpill">
                <div id="data1-s1" class="tab-pane active fade in"><img src="img/graph1.png"></div>
                <div id="data2-s1" class="tab-pane fade"><img src="img/graph2.png"></div>
              </div>
            </div>
            <div id="profile-s1" class="tab-pane fade">
              <div class="calendar"></div>
            </div>
          </div>
        </div><i class="arrow"></i>
      </div>
      <div class="listings__item"><span class="ribbon sale">Venta</span><img src="img/listing.jpg">
        <div class="listings__item-content sale">
          <h2><a href="#">Apartamento z.14</a></h2>
          <p><strong>Ciudad de Guatemala, Guatemala</strong>12 calle 6-27 z.14 <br>Código No. 03024</p>
        </div>
        <div class="listings__item-price">
          <p><strong>$400,000</strong>50%<br>Compartida</p>
        </div><a href="#" class="btn btn-green btn-big">Editar tu propiedad</a><a href="#" class="remove"><i class="glyphicon glyphicon-remove"></i></a>
        <div class="listings__item-details">
          <ul role="tablist" class="tablist">
            <li class="active"><a href="#home-2" data-toggle="tab" role="tab">Analisis</a></li>
            <li><a href="#profile-2" data-toggle="tab" role="tab">Ver agenda</a></li>
          </ul>
          <div class="tab-content tabcontent">
            <div id="home-2" class="tab-pane active fade in">
              <ul role="tablist" class="tabpills">
                <li class="active"><a href="#data1-2" data-toggle="tab" role="tab"><i class="fa fa-home"> </i> # de visitas</a></li>
                <li><a href="#data2-2" data-toggle="tab" role="tab"><i class="fa fa-envelope-o"></i> # de mensajes</a></li>
              </ul>
              <div class="tab-content tabpill">
                <div id="data1-2" class="tab-pane active fade in"><img src="img/graph1.png"></div>
                <div id="data2-2" class="tab-pane fade"><img src="img/graph2.png"></div>
              </div>
            </div>
            <div id="profile-2" class="tab-pane fade">
              <div class="calendar"></div>
            </div>
          </div>
        </div><i class="arrow"></i>
      </div>
      <div class="listings__item"><span class="ribbon rent">Alquiler</span><img src="img/listing.jpg">
        <div class="listings__item-content rent">
          <h2><a href="#">Apartamento z.14</a></h2>
          <p><strong>Ciudad de Guatemala, Guatemala</strong>12 calle 6-27 z.14 <br>Código No. 03024</p>
        </div>
        <div class="listings__item-price">
          <p><strong>$400,000</strong>50%<br>Compartida</p>
        </div><a href="#" class="btn btn-green btn-big">Editar tu propiedad</a><a href="#" class="remove"><i class="glyphicon glyphicon-remove"></i></a>
        <div class="listings__item-details">
          <ul role="tablist" class="tablist">
            <li class="active"><a href="#home-s2" data-toggle="tab" role="tab">Analisis</a></li>
            <li><a href="#profile-s2" data-toggle="tab" role="tab">Ver agenda</a></li>
          </ul>
          <div class="tab-content tabcontent">
            <div id="home-s2" class="tab-pane active fade in">
              <ul role="tablist" class="tabpills">
                <li class="active"><a href="#data1-s2" data-toggle="tab" role="tab"><i class="fa fa-home"> </i> # de visitas</a></li>
                <li><a href="#data2-s2" data-toggle="tab" role="tab"><i class="fa fa-envelope-o"></i> # de mensajes</a></li>
              </ul>
              <div class="tab-content tabpill">
                <div id="data1-s2" class="tab-pane active fade in"><img src="img/graph1.png"></div>
                <div id="data2-s2" class="tab-pane fade"><img src="img/graph2.png"></div>
              </div>
            </div>
            <div id="profile-s2" class="tab-pane fade">
              <div class="calendar"></div>
            </div>
          </div>
        </div><i class="arrow"></i>
      </div>
      <div class="listings__item"><span class="ribbon sale">Venta</span><img src="img/listing.jpg">
        <div class="listings__item-content sale">
          <h2><a href="#">Apartamento z.14</a></h2>
          <p><strong>Ciudad de Guatemala, Guatemala</strong>12 calle 6-27 z.14 <br>Código No. 03024</p>
        </div>
        <div class="listings__item-price">
          <p><strong>$400,000</strong>50%<br>Compartida</p>
        </div><a href="#" class="btn btn-green btn-big">Editar tu propiedad</a><a href="#" class="remove"><i class="glyphicon glyphicon-remove"></i></a>
        <div class="listings__item-details">
          <ul role="tablist" class="tablist">
            <li class="active"><a href="#home-3" data-toggle="tab" role="tab">Analisis</a></li>
            <li><a href="#profile-3" data-toggle="tab" role="tab">Ver agenda</a></li>
          </ul>
          <div class="tab-content tabcontent">
            <div id="home-3" class="tab-pane active fade in">
              <ul role="tablist" class="tabpills">
                <li class="active"><a href="#data1-3" data-toggle="tab" role="tab"><i class="fa fa-home"> </i> # de visitas</a></li>
                <li><a href="#data2-3" data-toggle="tab" role="tab"><i class="fa fa-envelope-o"></i> # de mensajes</a></li>
              </ul>
              <div class="tab-content tabpill">
                <div id="data1-3" class="tab-pane active fade in"><img src="img/graph1.png"></div>
                <div id="data2-3" class="tab-pane fade"><img src="img/graph2.png"></div>
              </div>
            </div>
            <div id="profile-3" class="tab-pane fade">
              <div class="calendar"></div>
            </div>
          </div>
        </div><i class="arrow"></i>
      </div>
      <div class="listings__item"><span class="ribbon rent">Alquiler</span><img src="img/listing.jpg">
        <div class="listings__item-content rent">
          <h2><a href="#">Apartamento z.14</a></h2>
          <p><strong>Ciudad de Guatemala, Guatemala</strong>12 calle 6-27 z.14 <br>Código No. 03024</p>
        </div>
        <div class="listings__item-price">
          <p><strong>$400,000</strong>50%<br>Compartida</p>
        </div><a href="#" class="btn btn-green btn-big">Editar tu propiedad</a><a href="#" class="remove"><i class="glyphicon glyphicon-remove"></i></a>
        <div class="listings__item-details">
          <ul role="tablist" class="tablist">
            <li class="active"><a href="#home-s3" data-toggle="tab" role="tab">Analisis</a></li>
            <li><a href="#profile-s3" data-toggle="tab" role="tab">Ver agenda</a></li>
          </ul>
          <div class="tab-content tabcontent">
            <div id="home-s3" class="tab-pane active fade in">
              <ul role="tablist" class="tabpills">
                <li class="active"><a href="#data1-s3" data-toggle="tab" role="tab"><i class="fa fa-home"> </i> # de visitas</a></li>
                <li><a href="#data2-s3" data-toggle="tab" role="tab"><i class="fa fa-envelope-o"></i> # de mensajes</a></li>
              </ul>
              <div class="tab-content tabpill">
                <div id="data1-s3" class="tab-pane active fade in"><img src="img/graph1.png"></div>
                <div id="data2-s3" class="tab-pane fade"><img src="img/graph2.png"></div>
              </div>
            </div>
            <div id="profile-s3" class="tab-pane fade">
              <div class="calendar"></div>
            </div>
          </div>
        </div><i class="arrow"></i>
      </div>
    </div>
  </div>
  <div class="pagination">
    <ul>
      <li><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
      <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
      <li><a>1</a></li>
      <li><a>2</a></li>
      <li><a>3</a></li>
      <li><a>4</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
      <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
    </ul>
  </div>
</div>