<div class="row dashboard-box padding-20" ng-controller="taskListingController">
  <div class="col-md-12 no-padding">
    <a ui-sref="app.crearTarea" class="btn btn-lg btn-primary">
      <i class="fa fa-tasks"></i>Crear tarea
    </a>
  </div>
  <div clas="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <form role="form">
          <div class="form-group margin-top-10">
                <span class="input-icon icon-left white">
                  <input ng-model="nombre" type="text" class="form-control" placeholder="Buscar tarea">
                  <i class="fa fa-search bg-blue white"></i>
                </span>
            </div>
        </form>
      </div>
      <div class="col-md-6">
        <ul class="list-inline margin-top-20 text-align-right">
          <li>Pendientes</li>
          <li>Completas</li>
          <li>Asignados</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-12 margin-top-10">
    <div class="row">

      <div ng-repeat="tarea in listTareas" 
          class="task col-md-12 margin-top-10 bordered-top-1 bordered-bottom-1 bordered-{{tarea.estadoTarea.descripcion | lowercase}}">
        <div class="task__content col-md-7 padding-top-20 padding-bottom-20">          
          <h2 class="blue no-margin"><strong># {{tarea.id}}</strong></h2></br>
          <div class="col-md-12 task__title ">            
            <h3><strong>relacionado a:</strong> {{tarea.relacion}}</h3>
          </div>
          <div class="col-md-12 task__description font-90">
            <p>{{tarea.descripcion}}</p>
          </div>
        </div>

        <div class="task__actions col-md-5 margin-top-10">
          
          <div class="col-md-12 task__author font-80">
            <strong>Asignado por:</strong> {{tarea.usuarioAsigno.firstName}} {{tarea.usuarioAsigno.lastName}}
          </div>

          <div class="col-md-12 task__author font-80">
            <strong>Agente asignado:</strong> {{tarea.usuarioAsignado.firstName}} {{tarea.usuarioAsignado.lastName}}
          </div>

          <div class="col-md-12 task__time-info margin-top-10 font-80">
            <i class="fa fa-calendar-check-o font-120 primary"></i>
            {{tarea.createdAt | date: "dd/MM/yyyy"}}
          </div>

          <div class="col-md-12 task__details-info margin-top-10 margin-bottom-10">
            <div class="col-md-12 no-padding">
              <ul class="list-inline text-align-left">
                <li ng-show="tipoUsuario=='Agencia' || tipoUsuario=='Agente'">
                  <a style="cursor:pointer" ng-click="viewTask(tarea);">
                    <i class="fa fa-eye success font-130"></i>
                  </a>
                </li>
                <li ng-show="tipoUsuario=='Agencia'">
                  <a style="cursor:pointer" ng-click="editTask(tarea);">
                    <i class="fa fa-pencil primary font-130"></i>
                  </a>
                </li>
                <li>
                  <a style="cursor:pointer" ng-click="removeTask(tarea);">
                    <i class="fa fa-trash darkorange font-130"></i>
                  </a>
                </li>
              </ul>
            </div>                    
          </div>

        </div>
      </div>

    </div>
  </div>
</div>